.product-list {
  border: solid 1px ;
  padding: 20px;
  background-color: aquamarine;
}

.message {
  border: solid 1px ;
  padding: 20px;
  background-color: coral;
}

span {
  padding-right: 30px;
  cursor: pointer;
}
